<nav class="navbar navbar-white mb-2">
  <div class="container">
    <a href="/" class="navbar-brand"> CelularesX</a>
    <a href="/celulares/agregar" class="navbar-brand">Celulares</a>

  </div>
</nav>